body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

header > nav > a{
  background: grey;
  padding: 10px
}

#featured-property p {
  text-align: center;

}

section {
  margin: auto;
  text-align: center;
}

#details{
  background: red
}
